<h1>Editing order</h1>

<%# <%= render "form", order: @order %>

<br>

<div>
  <%= link_to "Show this order", @order %> |
  <%= link_to "Back to orders", orders_path %>
</div>

<div class="row mb-4">
  <div class="card mb-4 mb-md-0">
    <div class="card-body">
      <div class="row">
        <div class="col-md-11">
          <h5>Order #<%= @order.id %></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <p class="mb-0">User</p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @order.user.email %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <p class="mb-0">Product</p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @order.product.name %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <p class="mb-0">Quantity</p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @order.quantity %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <p class="mb-0">Tracking Number</p>
        </div>
        <div class="col-sm-8">
          <%= form_for(@order, :html => {:class => 'row'}) do |f|%>
          <div class="form">
            <%= f.text_field :tracking_number, autofocus: false, required: false, for:"tracking", class: "form-control", placeholder: "Tracking Number"%>
          </div>
          <div class="actions">
            <%= f.submit 'Sumbit', class: "btn btn-primary btn-block mb-2" %>
          </div>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <p class="mb-0">Status</p>
        </div>
        <div class="col-sm-8">
          <%= form_for(@order, :html => {:class => 'row'}) do |f|%>
          <div class="form">
            <%= f.select :status, options_for_select(['shipped', 'not shipped'], 'not shipped')%>
          </div>
          <div class="actions">
            <%= f.submit 'Sumbit', class: "btn btn-primary btn-block mb-2" %>
          </div>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>