<div class="container mt-5">
  <h2>ORDERS</h2>
  <% if user_signed_in? && current_user.role == "admin" %>
    <%= link_to 'New Product', new_product_path %>
  <%end%>
  <br>
  <br>
  <table class="table table-info table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">User</th>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Status</th>
          <th scope="col">Tracking</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.user.email %></td>
            <td><%= order.product.name %></td>
            <td><%= order.quantity %></td>
            <td><%= order.status %></td>
            <td><%= order.tracking_number %></td>
            <td>
            <% if user_signed_in?%>
              <%= link_to 'Show', order_path(order) %>
            <%end%>
            <% if user_signed_in? && current_user.role == "admin" %>
              | <%= link_to 'Edit', edit_order_path(order) %>
              | <%= button_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%end%>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<p style="color: green"><%= notice %></p>
